#------------------------------------------------
# © 2026 Remus Rigo
#    2026-06-01
#------------------------------------------------

#------------------------------------------------
# My ignored files
#
[Uu]pload.*
[Uu]pdate.*
*.psd

#------------------------------------------------
# Windows ignored files
#
[Dd]esktop.ini
[Tt]humbs.db

#------------------------------------------------
# Delphi ignored files
#
[Bb]in
[Oo]bj
__history
__recovery
*.dproj.local
*.dsk
*.dsv
*.groupproj.local
*.identcache
*.tvsconfig
